﻿<!DOCTYPE html>
@using NavigationRoutes
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#" title="change in _bootstrapLayout.basic.cshtml"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            @Html.Navigation()
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="nav pull-right">
                            @{

                                if (Request.IsAuthenticated)
                                {
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Поменять пароль", "Manage", "Account", routeValues: null, htmlAttributes: new {@class = "username", title = "Manage"})</li>
                                            <li><a href="~/Account/LogOff"><i class="icon-off"></i> Выйти</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Войти или Зарегестрироваться</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Зарегестрироваться", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
                                            <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
                                        </ul>
                                    </li>
                                }
                            }
                          </ul>
                    </div>
                </div>
            </div>
        </div>        
        <div class="container">
            @Html.Partial("_alerts")
            @Html.Partial("_validationSummary")
            @RenderBody()   
            <hr>
            <footer>
                <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
            </footer> 
        </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
         <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/jquery.dataTables.pagination.Bootstrap.js"></script>
        <script type="text/javascript" charset="utf-8" src="~/Scripts/jquery.dataTables.columnFilter.js"></script>
    </body>
</html>

