﻿@using BootstrapSupport
@model Object

@Html.ActionLink("Назад к списку", "Index")

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data"})) 
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        @if (!String.IsNullOrWhiteSpace(ViewBag.Title))
        {
           <legend>@ViewBag.Title </legend>
        }
        @if (!String.IsNullOrWhiteSpace(ViewBag.CreatedOn))
        {
            <div class="control-group">
                @Html.Label("Дата записи", new {@class = "control-label"})
                <div class="controls">
                    @ViewBag.CreatedOn
                </div>
            </div>
        }
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.GetLabel().ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-xlarge" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
        <br/>
        <br/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-black icon-save"></i>Сохранить</button>&nbsp;
            <a href="@Url.Action("Edit")" class="btn"><i class="icon-black icon-refresh"></i> Cбросить</a>&nbsp;
            @*<button id="Delete" data-link="@Url.Action("Delete")" class="btn" type="button"><i class="icon-black icon-remove"></i> Удалить</button>*@
        </div>
    </fieldset>
}

@Html.ActionLink("Назад к списку", "Index")

