﻿@{
    ViewBag.Title = "Пользователи";
}
@model pipularAdm.Models.GridState
<p>
    
    
        @Html.ActionLink("Добавить "+@Model.EntityNameRus, "Create")
    
</p>
<table id="userTable" width="100%" class="data_grid">
    <thead>
    <tr>
        @foreach (var th in Model.Columns)
        {
            <th>@th</th>
        }
    </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    </tfoot>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //http://www.datatables.net
            $('#userTable').dataTable({
                "sDom": 'T<"clear">lfrtip',
                "oLanguage": {
                    "sUrl": "@Url.Content("~/Content/datatables.russian.txt")"
                },
                //"sDom": '<"top"i>rt<"bottom"flp><"clear">',
                //"sDom": "rt",
                "aaSorting": @Html.Raw(Model.aaSorting),
                "iDisplayStart":@Model.iDisplayStart,
                "iDisplayLength":  @Model.iDisplayLength,
                "bSearchable": true,
                //"bJQueryUI": true,
                "bLengthChange": true,
                "aLengthMenu": [[10, 15, 20, 25, 30, 50], [10, 15, 20, 25, 30, 50]],
                "bFilter": true,
                "bSort": true,
                //"bInfo": false,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave": false,
                "sAjaxSource": '@Url.Action("GetDataTables",Model.EntityName)',
                "fnServerData": function (url, data, callback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "url": url,
                        "data": data,
                        "success": callback,
                        "contentType": "application/x-www-form-urlencoded; charset=utf-8",
                        "dataType": "json",
                        "type": "POST",
                        "cache": false,
                        "error": function () {
                            alert("DataTables warning: JSON data from server failed to load or be parsed. " +
                                "This is most likely to be caused by a JSON formatting error.");
                        }
                    });
                },
                //,
                //"aoColumns": [
                //    { "bSortable": true },
                //    { "bSortable": true }
                //]
                "fnDrawCallback": function () {
                    $('.data_grid tbody tr').click(function () {
                        var redirection = $(this).attr('id');
                        document.location.href = '@Url.Action("Edit",Model.EntityName)' + "/" + redirection;
                    });

                    $('.data_grid tbody tr').hover(function () {
                        $(this).css('cursor', 'pointer');
                    }, function () {
                        $(this).css('cursor', 'auto');
                    });
                },
                "aoColumns": [
                    @{
                            for (var i=0; i<Model.Columns.Length-1;i++)
                            {
                               <text>
                                { "bSortable": true },
                               </text>
                            }
                            <text>
                            { "bSortable": true }
                            </text>
                    }
                ]
            });
        });
    </script>

}
